<article class="seccionBusqueda">
    <div class="seccionBusqueda__titulo">Artistas</div>

    <div class="seccionBusqueda__contenido">
        <div class="seccionBusqueda__contenido-item show-on-scroll">
            <img href="artista.html" class="imageLogo seccionBusqueda__contenido-item-imagen" src="img/artistas/logo-wintersun.png">

            <div class="seccionBusqueda__contenido-item-nombre" href="artista.html">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Wintersun</div>
            </div>

            <div class="seccionBusqueda__contenido-item-valoracion">
                <i class="fa fa-star"></i>
                <div>5</div>
            </div>
        </div>
        <div class="seccionBusqueda__contenido-item show-on-scroll">
            <img href="artista.html" class="imageLogo seccionBusqueda__contenido-item-imagen" src="img/artistas/logo-iron.png">
            <div class="seccionBusqueda__contenido-item-nombre" href="artista.html">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Iron maiden</div>
            </div>
            
            <div class="seccionBusqueda__contenido-item-valoracion">
                <i class="fa fa-star"></i>
                <div>3</div>
            </div>
        </div>
        <div class="seccionBusqueda__contenido-item show-on-scroll">
            <img href="artista.html" class="imageLogo seccionBusqueda__contenido-item-imagen" class="imageLogo seccionBusqueda__contenido-item-imagen" src="img/artistas/logo-buckethead.png">
            <div class="seccionBusqueda__contenido-item-nombre" href="artista.html">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Buckethead</div>
            </div>

            <div class="seccionBusqueda__contenido-item-valoracion">
                <i class="fa fa-star"></i>
                <div>4</div>
            </div>
        </div>
        <div class="seccionBusqueda__contenido-item show-on-scroll">
            <img href="artista.html" class="imageLogo seccionBusqueda__contenido-item-imagen" src="img/artistas/logo-equilibrium.jpeg">
            <div class="seccionBusqueda__contenido-item-nombre" href="artista.html">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Equilibrium</div>
            </div>

            <div class="seccionBusqueda__contenido-item-valoracion">
                <i class="fa fa-star"></i>
                <div>2</div>
            </div>
        </div>
        <div class="seccionBusqueda__contenido-item show-on-scroll">
            <img href="artista.html" class="imageLogo seccionBusqueda__contenido-item-imagen" src="img/artistas/logo-queen.png">
            <div class="seccionBusqueda__contenido-item-nombre" href="artista.html">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Queen</div>
            </div>

            <div class="seccionBusqueda__contenido-item-valoracion">
                <i class="fa fa-star"></i>
                <div>5</div>
            </div>
        </div>
        <div class="seccionBusqueda__contenido-item show-on-scroll">
            <img href="artista.html" class="imageLogo seccionBusqueda__contenido-item-imagen" src="img/artistas/logo-megadeth.jpeg">
            <div class="seccionBusqueda__contenido-item-nombre" href="artista.html">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Megadeth</div>
            </div>

            <div class="seccionBusqueda__contenido-item-valoracion">
                <i class="fa fa-star"></i>
                <div>4</div>
            </div>
        </div>

        <div class="seccionBusqueda__verMas">
            <button>Ver más</button>
        </div>
    </div>

    
</article>