<article class="seccionBusqueda">
    <div class="seccionBusqueda__titulo">Canciones</div>

    <div class="seccionBusqueda__contenido">
        <div class="seccionBusqueda__contenido-item">
            <i class="fas fa-music seccionBusqueda__contenido-item-logo"></i>
            <img class="imageLogo" class="seccionBusqueda__contenido-item-imagen" src="img/artistas/logo-wintersun.png">

            <div class="seccionBusqueda__contenido-item-nombre">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Prueba de titulo</div>
                <div class="seccionBusqueda__contenido-item-nombre-cancion">Prueba de nombre largo</div>
            </div>
            
            <i class="fas fa-play-circle seccionBusqueda__contenido-item-play"></i>
            <i class="fas fa-ellipsis-v seccionBusqueda__contenido-item-opciones"></i>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <i class="fas fa-music seccionBusqueda__contenido-item-logo"></i>
            <img class="imageLogo" class="seccionBusqueda__contenido-item-imagen" src="img/artistas/logo-buckethead.png">
            <div class="seccionBusqueda__contenido-item-nombre">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Prueba de titulo</div>
                <div class="seccionBusqueda__contenido-item-nombre-cancion">Prueba de nombre largo</div>
            </div>
            
            <i class="fas fa-play-circle seccionBusqueda__contenido-item-play"></i>
            <i class="fas fa-ellipsis-v seccionBusqueda__contenido-item-opciones"></i>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <i class="fas fa-music seccionBusqueda__contenido-item-logo"></i>
            <img class="imageLogo" class="seccionBusqueda__contenido-item-imagen" src="img/artistas/logo-equilibrium.jpeg">
            <div class="seccionBusqueda__contenido-item-nombre">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Prueba de titulo</div>
                <div class="seccionBusqueda__contenido-item-nombre-cancion">Prueba de nombre largo</div>
            </div>
            
            <i class="fas fa-play-circle seccionBusqueda__contenido-item-play"></i>
            <i class="fas fa-ellipsis-v seccionBusqueda__contenido-item-opciones"></i>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <i class="fas fa-music seccionBusqueda__contenido-item-logo"></i>
            <img class="imageLogo" class="seccionBusqueda__contenido-item-imagen" src="img/artistas/logo-iron.png">
            <div class="seccionBusqueda__contenido-item-nombre">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Prueba de titulo</div>
                <div class="seccionBusqueda__contenido-item-nombre-cancion">Prueba de nombre largo</div>
            </div>
            
            <i class="fas fa-play-circle seccionBusqueda__contenido-item-play"></i>
            <i class="fas fa-ellipsis-v seccionBusqueda__contenido-item-opciones"></i>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <i class="fas fa-music seccionBusqueda__contenido-item-logo"></i>
            <img class="imageLogo" class="seccionBusqueda__contenido-item-imagen" src="img/artistas/logo-megadeth.jpeg">
            <div class="seccionBusqueda__contenido-item-nombre">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Prueba de titulo</div>
                <div class="seccionBusqueda__contenido-item-nombre-cancion">Prueba de nombre largo</div>
            </div>
            
            <i class="fas fa-play-circle seccionBusqueda__contenido-item-play"></i>
            <i class="fas fa-ellipsis-v seccionBusqueda__contenido-item-opciones"></i>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <i class="fas fa-music seccionBusqueda__contenido-item-logo"></i>
            <img class="imageLogo" class="seccionBusqueda__contenido-item-imagen" src="img/artistas/logo-queen.png">
            <div class="seccionBusqueda__contenido-item-nombre">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Prueba de titulo</div>
                <div class="seccionBusqueda__contenido-item-nombre-cancion">Prueba de nombre largo</div>
            </div>
            
            <i class="fas fa-play-circle seccionBusqueda__contenido-item-play"></i>
            <i class="fas fa-ellipsis-v seccionBusqueda__contenido-item-opciones"></i>
        </div>

    </div>
    
    <div class="seccionBusqueda__verMas">
        <button>Ver más</button>
    </div>
</article>