<article class="seccionBusqueda">
    <div class="seccionBusqueda__titulo">Canciones</div>

    <div class="seccionBusqueda__contenido">
        <div class="seccionBusqueda__contenido-item">
            <img href="cancion.html" class="seccionBusqueda__contenido-item-imagen imageLogo" src="img/artistas/logo-wintersun.png">

            <div class="seccionBusqueda__contenido-item-nombre" href="cancion.html">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Wintersun</div>
                <div class="seccionBusqueda__contenido-item-nombre-cancion">Sons of winters and stars</div>
            </div>
            
            <i class="fas fa-play-circle seccionBusqueda__contenido-item-play"></i>
            <i class="fas fa-ellipsis-v seccionBusqueda__contenido-item-opciones"></i>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <img href="cancion.html" class="seccionBusqueda__contenido-item-imagen imageLogo" src="img/artistas/logo-buckethead.png">
            <div class="seccionBusqueda__contenido-item-nombre" href="cancion.html">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Buckethead</div>
                <div class="seccionBusqueda__contenido-item-nombre-cancion">Northern lights</div>
            </div>
            
            <i class="fas fa-play-circle seccionBusqueda__contenido-item-play"></i>
            <i class="fas fa-ellipsis-v seccionBusqueda__contenido-item-opciones"></i>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <img href="cancion.html" class="seccionBusqueda__contenido-item-imagen imageLogo" src="img/artistas/logo-equilibrium.jpeg">
            <div class="seccionBusqueda__contenido-item-nombre" href="cancion.html">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Equilibrium</div>
                <div class="seccionBusqueda__contenido-item-nombre-cancion">Mana</div>
            </div>
            
            <i class="fas fa-play-circle seccionBusqueda__contenido-item-play"></i>
            <i class="fas fa-ellipsis-v seccionBusqueda__contenido-item-opciones"></i>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <img href="cancion.html" class="seccionBusqueda__contenido-item-imagen imageLogo" src="img/artistas/logo-iron.png">
            <div class="seccionBusqueda__contenido-item-nombre" href="cancion.html">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Iron maiden</div>
                <div class="seccionBusqueda__contenido-item-nombre-cancion">Flight of icarus</div>
            </div>
            
            <i class="fas fa-play-circle seccionBusqueda__contenido-item-play"></i>
            <i class="fas fa-ellipsis-v seccionBusqueda__contenido-item-opciones"></i>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <img href="cancion.html" class="seccionBusqueda__contenido-item-imagen imageLogo" src="img/artistas/logo-megadeth.jpeg">
            <div class="seccionBusqueda__contenido-item-nombre" href="cancion.html">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Megadeth</div>
                <div class="seccionBusqueda__contenido-item-nombre-cancion">Tornado of souls</div>
            </div>
            
            <i class="fas fa-play-circle seccionBusqueda__contenido-item-play"></i>
            <i class="fas fa-ellipsis-v seccionBusqueda__contenido-item-opciones"></i>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <img href="cancion.html" class="seccionBusqueda__contenido-item-imagen imageLogo" src="img/artistas/logo-queen.png">
            <div class="seccionBusqueda__contenido-item-nombre" href="cancion.html">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Queen</div>
                <div class="seccionBusqueda__contenido-item-nombre-cancion">Love of my life</div>
            </div>
            
            <i class="fas fa-play-circle seccionBusqueda__contenido-item-play"></i>
            <i class="fas fa-ellipsis-v seccionBusqueda__contenido-item-opciones"></i>
        </div>

        <div class="seccionBusqueda__verMas">
            <button>Ver más</button>
        </div>
    </div>
    
    
</article>