<article class="seccionBusqueda">
    <div class="seccionBusqueda__titulo">PlayLists</div>

    <div class="seccionBusqueda__contenido">
        <div class="seccionBusqueda__contenido-item">
            <i class="fa fa-list-ul seccionBusqueda__contenido-item-logo"></i>
            <img src="img/artistas/logo-wintersun.png">

            <div class="seccionBusqueda__contenido-item-nombre">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Prueba de nombre</div>
            </div>
            
            <i class="fa fa-heart seccionBusqueda__contenido-item-play"></i>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <i class="fa fa-list-ul seccionBusqueda__contenido-item-logo"></i>
            <img src="img/artistas/logo-wintersun.png">
            <div class="seccionBusqueda__contenido-item-nombre">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Prueba de nombre</div>
            </div>
            
            <i class="fa fa-heart seccionBusqueda__contenido-item-play"></i>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <i class="fa fa-list-ul seccionBusqueda__contenido-item-logo"></i>
            <img src="img/artistas/logo-wintersun.png">
            <div class="seccionBusqueda__contenido-item-nombre">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Prueba de nombre</div>
            </div>
            
            <i class="fa fa-heart seccionBusqueda__contenido-item-play"></i>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <i class="fa fa-list-ul seccionBusqueda__contenido-item-logo"></i>
            <img src="img/artistas/logo-wintersun.png">
            <div class="seccionBusqueda__contenido-item-nombre">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Prueba de nombre</div>
            </div>
            
            <i class="fa fa-heart seccionBusqueda__contenido-item-play"></i>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <i class="fa fa-list-ul seccionBusqueda__contenido-item-logo"></i>
            <img src="img/artistas/logo-wintersun.png">
            <div class="seccionBusqueda__contenido-item-nombre">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Prueba de nombre</div>
            </div>
            
            <i class="fa fa-heart seccionBusqueda__contenido-item-play"></i>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <i class="fa fa-list-ul seccionBusqueda__contenido-item-logo"></i>
            <img src="img/artistas/logo-wintersun.png">
            <div class="seccionBusqueda__contenido-item-nombre">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Prueba de nombre</div>
            </div>
            
            <i class="fa fa-heart seccionBusqueda__contenido-item-play"></i>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <i class="fa fa-list-ul seccionBusqueda__contenido-item-logo"></i>
            <img src="img/artistas/logo-wintersun.png">
            <div class="seccionBusqueda__contenido-item-nombre">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Prueba de nombre</div>
            </div>
            
            <i class="fa fa-heart seccionBusqueda__contenido-item-play"></i>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <i class="fa fa-list-ul seccionBusqueda__contenido-item-logo"></i>
            <img src="img/artistas/logo-wintersun.png">
            <div class="seccionBusqueda__contenido-item-nombre">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Prueba de nombre</div>
            </div>
            
            <i class="fa fa-heart seccionBusqueda__contenido-item-play"></i>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <i class="fa fa-list-ul seccionBusqueda__contenido-item-logo"></i>
            <img src="img/artistas/logo-wintersun.png">
            <div class="seccionBusqueda__contenido-item-nombre">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Prueba de nombre</div>
            </div>
            
            <i class="fa fa-heart seccionBusqueda__contenido-item-play"></i>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <i class="fa fa-list-ul seccionBusqueda__contenido-item-logo"></i>
            <img src="img/artistas/logo-wintersun.png">
            <div class="seccionBusqueda__contenido-item-nombre">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Prueba de nombre</div>
            </div>
            <i class="fa fa-heart seccionBusqueda__contenido-item-play"></i>
        </div>
    </div>

    <div class="seccionBusqueda__verMas">
        <button>Ver más</button>
    </div>
</article>