<article class="seccionBusqueda">
    <div class="seccionBusqueda__titulo">PlayLists</div>

    <div class="seccionBusqueda__contenido">
        <div class="seccionBusqueda__contenido-item">
            <!-- <i class="fa fa-list-ul seccionBusqueda__contenido-item-logo"></i> -->
            <img href="playlist.html" class="imageLogo seccionBusqueda__contenido-item-imagen" src="img/artistas/logo-buckethead.png">

            <div class="seccionBusqueda__contenido-item-nombre" href="playlist.html">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Best of buckethead</div>
            </div>
            
            <i class="fas fa-play seccionBusqueda__contenido-item-play"></i>
            <i class="far fa-heart seccionBusqueda__contenido-item-corazon"></i>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <!-- <i class="fa fa-list-ul seccionBusqueda__contenido-item-logo"></i> -->
            <img href="playlist.html" class="imageLogo seccionBusqueda__contenido-item-imagen" src="img/artistas/logo-wintersun.png">
            <div class="seccionBusqueda__contenido-item-nombre" href="playlist.html">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Wintersun forever</div>
            </div>
            
            <i class="fas fa-play seccionBusqueda__contenido-item-play"></i>
            <i class="far fa-heart seccionBusqueda__contenido-item-corazon"></i>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <!-- <i class="fa fa-list-ul seccionBusqueda__contenido-item-logo"></i> -->
            <img href="playlist.html" class="imageLogo seccionBusqueda__contenido-item-imagen" src="img/artistas/logo-queen.png">
            <div class="seccionBusqueda__contenido-item-nombre" href="playlist.html">
                <div class="seccionBusqueda__contenido-item-nombre-artista">The queen of queens</div>
            </div>
            
            <i class="fas fa-play seccionBusqueda__contenido-item-play"></i>
            <i class="far fa-heart seccionBusqueda__contenido-item-corazon"></i>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <!-- <i class="fa fa-list-ul seccionBusqueda__contenido-item-logo"></i> -->
            <img href="playlist.html" class="imageLogo seccionBusqueda__contenido-item-imagen" src="img/artistas/logo-equilibrium.jpeg">
            <div class="seccionBusqueda__contenido-item-nombre" href="playlist.html">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Old equilibrium</div>
            </div>
            
            <i class="fas fa-play seccionBusqueda__contenido-item-play"></i>
            <i class="far fa-heart seccionBusqueda__contenido-item-corazon"></i>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <!-- <i class="fa fa-list-ul seccionBusqueda__contenido-item-logo"></i> -->
            <img href="playlist.html" class="imageLogo seccionBusqueda__contenido-item-imagen" src="img/artistas/logo-iron.png">
            <div class="seccionBusqueda__contenido-item-nombre" href="playlist.html">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Up the irons!</div>
            </div>
            
            <i class="fas fa-play seccionBusqueda__contenido-item-play"></i>
            <i class="far fa-heart seccionBusqueda__contenido-item-corazon"></i>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <!-- <i class="fa fa-list-ul seccionBusqueda__contenido-item-logo"></i> -->
            <img href="playlist.html" class="imageLogo seccionBusqueda__contenido-item-imagen" src="img/artistas/logo-megadeth.jpeg">
            <div class="seccionBusqueda__contenido-item-nombre" href="playlist.html">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Megadeth > Metallica</div>
            </div>
            
            <i class="fas fa-play seccionBusqueda__contenido-item-play"></i>
            <i class="far fa-heart seccionBusqueda__contenido-item-corazon"></i>
        </div>
        <div class="seccionBusqueda__verMas">
            <button>Ver más</button>
        </div>
    </div>
</article>