<div class="contenedor-card">
    <div class="contenedor-card__flecha">
        <button class="contenedor-card__flecha-izquierda"><i class="fa fa-angle-left"></i></button>
    </div>

    <section class="contenedor-card__card">
        <div class="contenedor-card__card-title"></div>

        <div class="contenedor-card__card-content">
            <div class="contenedor-card__card-content-item">
                <img class="imageLogo" src="img/artistas/logo-iron.png" alt="">
                <div class="contenedor-card__card-content-item-title">Iron maiden</div>
            </div>
            <div class="contenedor-card__card-content-item">
                <img class="imageLogo" src="img/artistas/logo-wintersun.png" alt="">
                <div class="contenedor-card__card-content-item-title">Wintersun</div>
            </div>
            <div class="contenedor-card__card-content-item">
                <img class="imageLogo" src="img/artistas/logo-buckethead.png" alt="">
                <div class="contenedor-card__card-content-item-title">Buckethead</div>
            </div>
            <div class="contenedor-card__card-content-item">
                <img class="imageLogo" src="img/artistas/logo-queen.png" alt="">
                <div class="contenedor-card__card-content-item-title">Iron maiden</div>
            </div>
            <div class="contenedor-card__card-content-item">
                <img class="imageLogo" src="img/artistas/logo-equilibrium.jpeg" alt="">
                <div class="contenedor-card__card-content-item-title">Wintersun</div>
            </div>
            <div class="contenedor-card__card-content-item">
                <img class="imageLogo" src="img/artistas/logo-megadeth.jpeg" alt="">
                <div class="contenedor-card__card-content-item-title">Buckethead</div>
            </div>
            <div class="contenedor-card__card-content-item">
                <img class="imageLogo" src="img/artistas/logo-iron.png" alt="">
                <div class="contenedor-card__card-content-item-title">Iron maiden</div>
            </div>
            <div class="contenedor-card__card-content-item">
                <img class="imageLogo" src="img/artistas/logo-wintersun.png" alt="">
                <div class="contenedor-card__card-content-item-title">Wintersun</div>
            </div>
            <div class="contenedor-card__card-content-item">
                <img class="imageLogo" src="img/artistas/logo-buckethead.png" alt="">
                <div class="contenedor-card__card-content-item-title">Buckethead</div>
            </div>
            <div class="contenedor-card__card-content-item">
                <img class="imageLogo" src="img/artistas/logo-iron.png" alt="">
                <div class="contenedor-card__card-content-item-title">Iron maiden</div>
            </div>
            <div class="contenedor-card__card-content-item">
                <img class="imageLogo" src="img/artistas/logo-wintersun.png" alt="">
                <div class="contenedor-card__card-content-item-title">Wintersun</div>
            </div>
            <div class="contenedor-card__card-content-item">
                <img class="imageLogo" src="img/artistas/logo-buckethead.png" alt="">
                <div class="contenedor-card__card-content-item-title">Buckethead</div>
            </div>
            <div class="contenedor-card__card-content-item">
                <img class="imageLogo" src="img/artistas/logo-iron.png" alt="">
                <div class="contenedor-card__card-content-item-title">Iron maiden</div>
            </div>
            <div class="contenedor-card__card-content-item">
                <img class="imageLogo" src="img/artistas/logo-wintersun.png" alt="">
                <div class="contenedor-card__card-content-item-title">Wintersun</div>
            </div>
            <div class="contenedor-card__card-content-item">
                <img class="imageLogo" src="img/artistas/logo-buckethead.png" alt="">
                <div class="contenedor-card__card-content-item-title">Buckethead</div>
            </div>
            <div class="contenedor-card__card-content-item">
                <img class="imageLogo" src="img/artistas/logo-iron.png" alt="">
                <div class="contenedor-card__card-content-item-title">Iron maiden</div>
            </div>
            <div class="contenedor-card__card-content-item">
                <img class="imageLogo" src="img/artistas/logo-wintersun.png" alt="">
                <div class="contenedor-card__card-content-item-title">Wintersun</div>
            </div>
            <div class="contenedor-card__card-content-item">
                <img class="imageLogo" src="img/artistas/logo-buckethead.png" alt="">
                <div class="contenedor-card__card-content-item-title">Buckethead</div>
            </div>
        </div>
    </section>
    
    <div class="contenedor-card__flecha">
        <button class="contenedor-card__flecha-derecha"><i class="fa fa-angle-right"></i></button>
    </div>
</div>