<div class="contenedor-card">
    <div class="contenedor-card__flecha">
        <button class="contenedor-card__flecha-izquierda"><i class="fa fa-angle-left"></i></button>
    </div>

    <section class="contenedor-card__card">
        <div class="contenedor-card__card-title">Escuchado recientemente</div>

        <div href="cancion.html" class="contenedor-card__card-content">
            <div class="contenedor-card__card-content-item item-cancion">
                <div class="cubo-container">
                    <div class="cubo-container__cubo">
                        <div class="cubo-container__cubo-lado trasero">
                            <img class="cubo-container__cubo-lado-imagen lado hide" src="img/artistas/logo-megadeth.jpeg">
                        </div>
                
                        <div class="cubo-container__cubo-lado izquierdo">
                            <img class="cubo-container__cubo-lado-imagen lado hide" src="img/artistas/logo-megadeth.jpeg">
                        </div>
                
                        <div class="cubo-container__cubo-lado frontal">
                            <img class="cubo-container__cubo-lado-imagen frontal" src="img/artistas/logo-megadeth.jpeg">
                        </div>
                
                        <div class="cubo-container__cubo-lado derecho">
                            <img class="cubo-container__cubo-lado-imagen lado hide" src="img/artistas/logo-megadeth.jpeg">
                        </div>
                
                        <div class="cubo-container__cubo-lado superior">
                            <img class="cubo-container__cubo-lado-imagen lado hide" src="img/artistas/logo-megadeth.jpeg">
                        </div>
                
                        <div class="cubo-container__cubo-lado inferior">
                            <img class="cubo-container__cubo-lado-imagen lado hide" src="img/artistas/logo-megadeth.jpeg">
                        </div>
                    </div>
                </div>
                <div class="contenedor-card__card-content-item-cancion">
                    <div class="contenedor-card__card-content-item-title">Iron maiden</div>
                    <div class="contenedor-card__card-content-item-name">Dance of death</div>
                </div>
                <i class="fas fa-play contenedor-card__card-content-item-play hide"></i>
            </div>
            <div class="contenedor-card__card-content-item item-cancion">
                <div class="cubo-container">
                    <div class="cubo-container__cubo">
                        <div class="cubo-container__cubo-lado trasero">
                            <img class="cubo-container__cubo-lado-imagen lado hide" src="img/artistas/logo-buckethead.png">
                        </div>
                
                        <div class="cubo-container__cubo-lado izquierdo">
                            <img class="cubo-container__cubo-lado-imagen lado hide" src="img/artistas/logo-buckethead.png">
                        </div>
                
                        <div class="cubo-container__cubo-lado frontal">
                            <img class="cubo-container__cubo-lado-imagen frontal" src="img/artistas/logo-buckethead.png">
                        </div>
                
                        <div class="cubo-container__cubo-lado derecho">
                            <img class="cubo-container__cubo-lado-imagen lado hide" src="img/artistas/logo-buckethead.png">
                        </div>
                
                        <div class="cubo-container__cubo-lado superior">
                            <img class="cubo-container__cubo-lado-imagen lado hide" src="img/artistas/logo-buckethead.png">
                        </div>
                
                        <div class="cubo-container__cubo-lado inferior">
                            <img class="cubo-container__cubo-lado-imagen lado hide" src="img/artistas/logo-buckethead.png">
                        </div>
                    </div>
                </div>
                <div class="contenedor-card__card-content-item-cancion">
                    <div class="contenedor-card__card-content-item-title">Iron maiden</div>
                    <div class="contenedor-card__card-content-item-name">Dance of death</div>
                </div>
                <i class="fas fa-play contenedor-card__card-content-item-play hide"></i>
            </div>
            <div class="contenedor-card__card-content-item item-cancion">
                <div class="cubo-container">
                    <div class="cubo-container__cubo">
                        <div class="cubo-container__cubo-lado trasero">
                            <img class="cubo-container__cubo-lado-imagen lado hide" src="img/artistas/logo-equilibrium.jpeg">
                        </div>
                
                        <div class="cubo-container__cubo-lado izquierdo">
                            <img class="cubo-container__cubo-lado-imagen lado hide" src="img/artistas/logo-equilibrium.jpeg">
                        </div>
                
                        <div class="cubo-container__cubo-lado frontal">
                            <img class="cubo-container__cubo-lado-imagen frontal" src="img/artistas/logo-equilibrium.jpeg">
                        </div>
                
                        <div class="cubo-container__cubo-lado derecho">
                            <img class="cubo-container__cubo-lado-imagen lado hide" src="img/artistas/logo-equilibrium.jpeg">
                        </div>
                
                        <div class="cubo-container__cubo-lado superior">
                            <img class="cubo-container__cubo-lado-imagen lado hide" src="img/artistas/logo-equilibrium.jpeg">
                        </div>
                
                        <div class="cubo-container__cubo-lado inferior">
                            <img class="cubo-container__cubo-lado-imagen lado hide" src="img/artistas/logo-equilibrium.jpeg">
                        </div>
                    </div>
                </div>
                <div class="contenedor-card__card-content-item-cancion">
                    <div class="contenedor-card__card-content-item-title">Iron maiden</div>
                    <div class="contenedor-card__card-content-item-name">Dance of death</div>
                </div>
                <i class="fas fa-play contenedor-card__card-content-item-play hide"></i>
            </div>
            <div class="contenedor-card__card-content-item item-cancion">
                <div class="cubo-container">
                    <div class="cubo-container__cubo">
                        <div class="cubo-container__cubo-lado trasero">
                            <img class="cubo-container__cubo-lado-imagen lado hide" src="img/artistas/logo-wintersun.png">
                        </div>
                
                        <div class="cubo-container__cubo-lado izquierdo">
                            <img class="cubo-container__cubo-lado-imagen lado hide" src="img/artistas/logo-wintersun.png">
                        </div>
                
                        <div class="cubo-container__cubo-lado frontal">
                            <img class="cubo-container__cubo-lado-imagen frontal" src="img/artistas/logo-wintersun.png">
                        </div>
                
                        <div class="cubo-container__cubo-lado derecho">
                            <img class="cubo-container__cubo-lado-imagen lado hide" src="img/artistas/logo-wintersun.png">
                        </div>
                
                        <div class="cubo-container__cubo-lado superior">
                            <img class="cubo-container__cubo-lado-imagen lado hide" src="img/artistas/logo-wintersun.png">
                        </div>
                
                        <div class="cubo-container__cubo-lado inferior">
                            <img class="cubo-container__cubo-lado-imagen lado hide" src="img/artistas/logo-wintersun.png">
                        </div>
                    </div>
                </div>
                <div class="contenedor-card__card-content-item-cancion">
                    <div class="contenedor-card__card-content-item-title">Iron maiden</div>
                    <div class="contenedor-card__card-content-item-name">Dance of death</div>
                </div>
                <i class="fas fa-play contenedor-card__card-content-item-play hide"></i>
            </div>
            <div class="contenedor-card__card-content-item item-cancion">
                <div class="cubo-container">
                    <div class="cubo-container__cubo">
                        <div class="cubo-container__cubo-lado trasero">
                            <img class="cubo-container__cubo-lado-imagen lado hide" src="img/artistas/logo-queen.png">
                        </div>
                
                        <div class="cubo-container__cubo-lado izquierdo">
                            <img class="cubo-container__cubo-lado-imagen lado hide" src="img/artistas/logo-queen.png">
                        </div>
                
                        <div class="cubo-container__cubo-lado frontal">
                            <img class="cubo-container__cubo-lado-imagen frontal" src="img/artistas/logo-queen.png">
                        </div>
                
                        <div class="cubo-container__cubo-lado derecho">
                            <img class="cubo-container__cubo-lado-imagen lado hide" src="img/artistas/logo-queen.png">
                        </div>
                
                        <div class="cubo-container__cubo-lado superior">
                            <img class="cubo-container__cubo-lado-imagen lado hide" src="img/artistas/logo-queen.png">
                        </div>
                
                        <div class="cubo-container__cubo-lado inferior">
                            <img class="cubo-container__cubo-lado-imagen lado hide" src="img/artistas/logo-queen.png">
                        </div>
                    </div>
                </div>
                <div class="contenedor-card__card-content-item-cancion">
                    <div class="contenedor-card__card-content-item-title">Iron maiden</div>
                    <div class="contenedor-card__card-content-item-name">Dance of death</div>
                </div>
                <i class="fas fa-play contenedor-card__card-content-item-play hide"></i>
            </div>
        </div>
    </section>
    
    <div class="contenedor-card__flecha">
        <button class="contenedor-card__flecha-derecha"><i class="fa fa-angle-right"></i></button>
    </div>
</div>