<div class="contenedor-card">
    <div class="contenedor-card__flecha">
        <button class="contenedor-card__flecha-izquierda"><i class="fa fa-angle-left"></i></button>
    </div>

    <section class="contenedor-card__card">
        <div class="contenedor-card__card-title">AÚN SIN VALORAR</div>

        <div class="contenedor-card__card-content">
            <div class="contenedor-card__card-content-item">
                <img src="img/artistas/logo-iron.png" alt="">
                <div class="contenedor-card__card-content-item-cancion">
                    <div class="contenedor-card__card-content-item-title">Iron maiden</div>
                    <div class="contenedor-card__card-content-item-name">Dance of death</div>
                </div>
                <div class="contededor-card__card-content-item-estrellas">
                    <i data-valoracion="1" seleccionada="false" class="far fa-star"></i>
                    <i data-valoracion="2" seleccionada="false" class="far fa-star"></i>
                    <i data-valoracion="3" seleccionada="false" class="far fa-star"></i>
                    <i data-valoracion="4" seleccionada="false" class="far fa-star"></i>
                    <i data-valoracion="5" seleccionada="false" class="far fa-star"></i>
                </div>
            </div>
            <div class="contenedor-card__card-content-item">
                <img src="img/artistas/logo-wintersun.png" alt="">
                <div class="contenedor-card__card-content-item-cancion">
                    <div class="contenedor-card__card-content-item-title">Wintersun</div>
                    <div class="contenedor-card__card-content-item-name">Sons of winter and...</div>
                </div>
            </div>
            <div class="contenedor-card__card-content-item">
                <img src="img/artistas/logo-buckethead.png" alt="">
                <div class="contenedor-card__card-content-item-cancion">
                    <div class="contenedor-card__card-content-item-title">Buckethead</div>
                    <div class="contenedor-card__card-content-item-name">Northern lights</div>
                </div>
            </div>
        </div>
    </section>
    
    <div class="contenedor-card__flecha">
        <button class="contenedor-card__flecha-derecha"><i class="fa fa-angle-right"></i></button>
    </div>
</div>