<div class="contenedor-card">
    <div class="contenedor-card__flecha">
        <button class="contenedor-card__flecha-izquierda"><i class="fa fa-angle-left"></i></button>
    </div>

    <section class="contenedor-card__card">
        <div class="contenedor-card__card-title">Playlist más valoradas</div>

        <div class="contenedor-card__card-content">
            <div class="contenedor-card__card-content-item">
                <a href="playlist.html">
                    <img class="imageLogo" src="img/artistas/logo-angela.jpg" alt="">
                    <div class="contenedor-card__card-content-item-title">Ángela Torres</div>
                </a>
            </div>
            <div class="contenedor-card__card-content-item">
                <a href="playlist.html">
                    <img class="imageLogo" src="img/artistas/logo-daddy.png" alt="">
                    <div class="contenedor-card__card-content-item-title">Daddy Yankee</div>
                </a>
            </div>
            <div class="contenedor-card__card-content-item">
                <a href="playlist.html">
                    <img class="imageLogo" src="img/artistas/logo-direction.jpg" alt="">
                    <div class="contenedor-card__card-content-item-title">One Direction</div>
                </a>
            </div>
            <div class="contenedor-card__card-content-item">
                <a href="playlist.html">
                    <img class="imageLogo" src="img/artistas/logo-divididos.jpg" alt="">
                    <div class="contenedor-card__card-content-item-title">Dividos</div>
                </a>
            </div>
            <div class="contenedor-card__card-content-item">
                <a href="playlist.html">
                    <img class="imageLogo" src="img/artistas/logo-nicki.jpg" alt="">
                    <div class="contenedor-card__card-content-item-title">Nicki Nicole</div>
                </a>
            </div>
            <div class="contenedor-card__card-content-item">
                <a href="playlist.html">
                    <img class="imageLogo" src="img/artistas/logo-ozuna.jpg" alt="">
                    <div class="contenedor-card__card-content-item-title">Ozuna</div>
                </a>
            </div>
            <div class="contenedor-card__card-content-item">
                <a href="playlist.html">
                    <img class="imageLogo" src="img/artistas/logo-palmeras.jpg" alt="">
                    <div class="contenedor-card__card-content-item-title">Los Palmeras</div>
                </a>
            </div>
            <div class="contenedor-card__card-content-item">
                <a href="playlist.html">
                    <img class="imageLogo" src="img/artistas/logo-reik.png" alt="">
                    <div class="contenedor-card__card-content-item-title">Reik</div>
                </a>
            </div>
        </div>
    </section>
    
    <div class="contenedor-card__flecha">
        <button class="contenedor-card__flecha-derecha"><i class="fa fa-angle-right"></i></button>
    </div>
</div>