.hide {
    display: none;
}

.show {
    display: block;
}

.lapiz {
	cursor: url('../img/lapiz.cur'), auto;
}

.canvas canvas {
    background: #EBFEFF;
    display: inline-block;
}

.goma {
	cursor: url('../img/goma.png'), auto;
}

#imgContainer {
	border: 2px solid black;
}