@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.alert{
  padding: 20px 40px;
  min-width: 420px;
  position: fixed;
  right: 0;
  top: 10px;
  border-radius: 4px;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
}

.warning {
  background: #ffdb9b;
  border-left: 8px solid #ffa502;
}

.success {
  background: #c5f3d7;
  border-left: 8px solid #2ad871;
}

.alert.showAlert{
  opacity: 1;
  pointer-events: auto;
}

.show {
  display: block;

}
.alert.animation{
  animation: animation 4s ease forwards;
}
@keyframes animation {
  0%{
    transform: translateX(100%);
  }
  10%{
    transform: translateX(-10%);
  }
  20%{
    transform: translateX(0%);
  }
  40%{
    transform: translateX(-10px);
  }
  60%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(100%);
  }
}

.hide {
    display: none;
}

.alert .fa-exclamation-circle{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #ce8500;
  font-size: 30px;
}

.alert .fa-check-circle{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: 	#27ac60;
    font-size: 30px;
}
  
.alert .warningMsg{
  padding: 0 20px;
  font-size: 18px;
  color: #ce8500;
}

.alert .successMsg{
    padding: 0 20px;
    font-size: 18px;
    color: #55a875;
  }

