/* SECCION */
.audio {
    background: linear-gradient(to bottom, #3A7FFF, #1c3f7f);
    width: 100%;
    color: #FFFFFF;
    padding: 10px;
}

.audio__titulo {
    text-transform: uppercase;
}

.audio__nombre {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}

.audio__reproducir {
    /* width: 100%; */
    margin-top: 30px;
    text-align: center;
}

.audio__reproducir button {
    width: 300px;
    padding: 9px;
    color: #FFFFFF;
    font-size: 20px;
    background: #16C153;
}

.audio__autor {
    margin-top: 30px;
}

.audio__valoraciones {
    margin-top: 10px;
    display: flex;
}

.audio__valoraciones-texto {
    margin-right: 15px;
}

.audio__valoraciones-estrella {
    margin-right: 5px;
    color: #FFD700;
}



@media only screen and (min-width: 1000px) {
    .audio__lista-item-play {
        display: block;
        font-size: 40px;
        color: #1c3f7f;
        margin: 0px 30px;
    }
}