.main-container {
    padding-top: 40px;
}

.header__contenido {
    text-align: center;
}

.header__contenido-texto {
    text-align: center;
    font-size: 26px;
}

.header__contenido button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    background: #ff6d13;
    padding: 7px 15px;
    color: #000315;
    font-size: 14px;
}

.header__contenido button i {
    margin-left: 10px;
}

.seccionBusqueda {
    padding: 10px;
    margin-bottom: 50px;
}

.seccionBusqueda__contenido-item img {
    width: 50px;
    border-radius: 0;
    transition: transform .3s;
}

.seccionBusqueda__titulo {
    color: #000315;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 8px;
}

.seccionBusqueda__contenido {
    perspective: 1000px;    
}

.seccionBusqueda__contenido-item {
    border-radius: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    position: relative;
    border-radius: 5px;
    background: #F6F6F6;
    box-shadow: 7px 8px 6px -6px #000f1f5c;
    padding: 10px;
    opacity: 0;
    transform: translateZ(-1000px) rotateY(90deg);
    transition: all 2s;
}

.is-visible {
    transform:rotateY(5deg);
    box-shadow: -20px 20px 3px -10px #000f1f5c;
    opacity: 1;
}

.seccionBusqueda__contenido-item-valoracion {
    display: flex;
    align-items: flex-end;
}

.seccionBusqueda__contenido-item-valoracion i {
    margin-right: 5px;
    color: #ff6d13;
    font-size: 20px;
}

.seccionBusqueda__contenido-item-valoracion div {
    color: #3c3c3c;
}

.seccionBusqueda__contenido-item-corazon {
    text-shadow: -1px  #ff6d13,  1px #ff6d13, 1px  #ff6d13,  -1px #ff6d13;
}

.seccionBusqueda__contenido-item i:last-child {
    text-align: flex-end;
}

.seccionBusqueda__contenido-item-logo {
    font-size: 30px !important;
    width: 40px;
} 

.seccionBusqueda__contenido-item-play {
    margin-right: 20px;
    font-size: 25px !important;
    color: #000315;
}

.seccionBusqueda__contenido-item-corazon {
    font-size: 25px !important;
    color: #000315;
}

.seccionBusqueda__contenido-item-nombre {
    flex: 1;
    padding: 0px 10px;
}

.seccionBusqueda__contenido-item-nombre-artista {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000315;
}

.seccionBusqueda__contenido-item-nombre-cancion {
    color: #3c3c3c;
    transition: color .3s;
}

.seccionBusqueda__verMas {
    margin-top: 10px;
    width: 100%;
    text-align: flex-end;
}

.seccionBusqueda__verMas button {
    background: #ff6d13;
    color: #000315;
    font-size: 16px;
    padding: 5px;
    font-weight: bold;
}

@media only screen and (min-width: 550px) {
    .seccionBusqueda__contenido {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    .seccionBusqueda__contenido-item-nombre {
        text-align: center;
    }

    .seccionBusqueda__verMas {
        grid-column: 2;
    }

    .seccionBusqueda__contenido-item-nombre {
        margin: 20px 0px;
    }

    .seccionBusqueda__contenido-item {
        flex-direction: column;
        margin: 20px auto;
        min-width: 200px;
        max-width: 200px;
    }

    .seccionBusqueda__contenido-item-play {
        margin: 0;
    }

    .seccionBusqueda__contenido-item-corazon {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .seccionBusqueda__contenido-item-logo {
        display: none !important;
    }

    .seccionBusqueda__contenido-item img {
        display: block;
        width: 80px;
        border-radius: 50%;
    }
}

@media only screen and (min-width: 750px) {
    .seccionBusqueda__contenido {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .seccionBusqueda__verMas {
        grid-column: 3;
    }
}

@media only screen and (min-width: 950px) {
    .seccionBusqueda__contenido {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr auto;
    }

    .seccionBusqueda__verMas {
        grid-row: 3;
        grid-column: 4;
    }
}

@media only screen and (min-width: 1050px) {
    .seccionBusqueda__contenido {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .seccionBusqueda__contenido-item-play:hover {
        color: #000315c9;
    }

    .seccionBusqueda__contenido-item-opciones:hover {
        color: #000315c9;
    }

    .seccionBusqueda__contenido-item-corazon:hover {
        color: #FFFFFF !important;
    }

    .seccionBusqueda__contenido-item:hover .seccionBusqueda__contenido-item-nombre-artista{
        color: #000315c9;
    }

    .seccionBusqueda__contenido-item:hover .seccionBusqueda__contenido-item-imagen {
        transform: scale(1.1);
    }
}

@media only screen and (min-width: 1350px) {
    .seccionBusqueda__contenido {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: none;
        grid-template-areas: "verMas verMas verMas verMas verMas verMas";
    }

    .seccionBusqueda__verMas {
        grid-area: verMas;
    }
}