.main-container {
    margin-bottom: 100px;
}

.seccionBusqueda {
    padding: 10px;
    margin-bottom: 50px;
}

.seccionBusqueda__contenido-item img{
    display: none;
}

.seccionBusqueda__titulo {
    color: #1D3557;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 8px;
}

.seccionBusqueda__contenido-item {
    background: #FFFFFF;
    border: 1px solid #457B9D;
    box-shadow: 1px 2px 0px #457B9D;
    border-radius: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    position: relative;
}

.seccionBusqueda__contenido-item i {
    color: #457B9D;
    text-align: center;
}

.seccionBusqueda__contenido-item-corazon {
    color: white !important;
    text-shadow: -1px 0 #E63946, 0 1px #E63946, 1px 0 #E63946, 0 -1px #E63946;
}

.seccionBusqueda__contenido-item i:last-child {
    text-align: end;
}

.seccionBusqueda__contenido-item-logo {
    font-size: 30px !important;
    width: 40px;
} 

.seccionBusqueda__contenido-item-play {
    font-size: 40px !important;
    width: 40px;
}

.seccionBusqueda__contenido-item-opciones {
    font-size: 30px !important;
    width: 30px;
}

.seccionBusqueda__contenido-item-nombre {
    color: #1d3557;
    flex: 1;
    text-align: center;
    padding: 0px 10px;
}

.seccionBusqueda__contenido-item-nombre-artista {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.seccionBusqueda__contenido-item-nombre-cancion {
    font-size: 16px;
}

.seccionBusqueda__verMas {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.seccionBusqueda__verMas button {
    background: #457B9D;
    border-radius: 5px;
    border: none;
    color: #F1FAEE;
    text-decoration-line: underline;
    font-size: 14px;
    padding: 10px;
}

@media only screen and (min-width: 500px) {
    .seccionBusqueda__contenido {
        display: flex;
        flex-flow: row wrap;
    }

    .seccionBusqueda__contenido-item-nombre {
        margin: 20px 0px;
    }

    .seccionBusqueda__contenido-item {
        flex-direction: column;
        min-width: 200px;
    }

    .seccionBusqueda__contenido-item-opciones {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .seccionBusqueda__contenido-item-logo {
        display: none !important;
    }

    .seccionBusqueda__contenido-item img {
        display: block;
        width: 80px;
    }
}