.main-container {
    padding: 20px;
    margin-bottom: 100px;
}

/* PORTADA */
.portada img {
    width: 100%;
    height: 100%;
}

/* CANCION */
.cancion {
    color: #1D3557;
    text-align: center;
    margin-top: 20px;
}

.cancion__artista {
    font-size: 24px;
    font-weight: bold;
}

/* VALORACIONES */
.valoraciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    border-radius: 5px;
    padding: 5px;
}

.valoraciones__opinar {
    width: 100%;
}

.valoraciones__estrellas {
    font-size: 35px;
    margin-bottom: 10px;
    color: #122642;
    transform-style: preserve-3d;
}

.valoraciones__opinar-titulo {
    color: #1D3557;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.valoraciones__opinar textarea {
    width: 100%;
    height: 150px;
    margin: 10px 0px;
    resize: none;
}

.valoraciones__opinar button {
    border: none;
    background: #83C727;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    color: #122642;
    font-size: 24px;
}

/* OPINIONES */
.opiniones {
    margin-top: 100px;
}

.opiniones__titulo {
    color: #1D3557;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.opiniones__contenido-item {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #457B9D;
    margin: 10px 0px;
}

.opiniones__contenido-item-titulo {
    color: #1D3557;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.opiniones__contenido-item-mensaje {
    font-size: 16px;
    color: #2b546e;
    margin-bottom: 10px;
}

.opiniones__contenido-item-valoracion {
    font-size: 25px;
    display: flex;
    align-items: end;
    width: 50px;
    margin-left: auto;
}

.opiniones__contenido-item-valoracion i {
    color: #FFD700;
    margin-right: 5px;
}

.opiniones__contenido-item-valoracion div {
    color: #2b546e;
    font-size: 20px;
}

/* ACCIONES */
.acciones {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.acciones button{
    border: none;
    background: #457B9D;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
}

.acciones button i {
    font-size: 25px;
}

.acciones button div {
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 7px;
}

.acciones_favoritos {
    color: #E63946;
}

.acciones_play {
    color: #FFFFFF;
}

.acciones_playlist {
    color: #83C727;
    font-size: 25px;
}

@media only screen and (min-width: 800px) {
    .main-container {
        display: grid;
        grid-template-columns: 5fr 3fr;
        grid-template-rows: 250px 60px 50px auto;
        grid-template-areas: 
                            "portada valoraciones"
                            "cancion valoraciones"
                            "acciones valoraciones"
                            "opiniones opiniones"
                            ;
    }

    .portada {
        grid-area: portada;
        margin-right: 20px;
        display: flex;
        justify-content: center;
    }
    
    .portada img {
        max-width: 500px;
    }

    .cancion {
        grid-area: cancion;
    }

    .valoraciones {
        grid-area: valoraciones;
        border: none;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        justify-content: start;
    }

    .opiniones {
        grid-area: opiniones;
    }

    .acciones {
        grid-area: acciones;
        margin-top: 0;
    }

    .opiniones {
        margin-top: 40px;
    }

    .opiniones__contenido-item {
        max-width: 500px;
        margin: 10px auto;
    }
}