.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background: #000315;
    padding: 20px;
    margin-bottom: 85px;
}

.footer img {
    width: 100px;
    margin: auto;
}

.footer__redes {
    color: #FFFFFF;
    margin: 20px 0;
}

.footer__redes-titulo {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer__redes-derechos {
    margin-top: 30px;
}

.reproductor__volumen {
    display: none;
}

.reproductor {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #000315;
    display: grid;
    grid-template-columns: 50px auto 100px;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "corazon cancion controles"
        "corazon reproduccion controles";
    padding: 5px;
    min-height: 85px;
}

/* corazón */
.reproductor__corazon {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: corazon;
    color: #FFFFFF
}

.reproductor__corazon i {
    margin: auto;
    font-size: 30px;
}

/* controles */
.reproductor__controles {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: controles;
}

.reproductor__controles i {
    font-size: 40px;
    color: #FFFFFF ;
    margin: 0px 5px;
}

/* barra reproduccion */
.reproductor__reproduccion {
    grid-area: reproduccion;
    display: flex;
    align-items: center;
    margin: 0px 10px;
}

.reproductor__reproduccion-numero {
    font-size: 12px;
    color: #FFFFFF;
}

.reproductor__reproduccion-barra {
    flex: 1;
    margin: 0px 5px;
    height: 4px;
    background: #FFFFFF;
}

/* nombre cancion */
.reproductor__cancion {
    grid-area: cancion;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
}

.cambiarTitulo {
    animation: cambiarTitulo 1s;
}

@keyframes cambiarTitulo {
    0% {opacity: 0%};
    100% {opacity: 100%};
}

.reproductor__cancion-titulo {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.reproductor__cancion-nombre {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
}

.bordeAmarillo {
    color: #ff6d13;
    
}

.animacionSeleccion {
    animation: animacionSeleccion 1300ms forwards;
}

.reproductor__cancion a {
    text-decoration: none;
    color: #FFFFFF;
}

@keyframes animacionSeleccion {
    50%{transform: translateZ(300px) rotateZ(180deg);}
    100%{transform: translateZ(-100px) translateX(-10px) translateY(5px) 
                    rotateZ(-20deg) rotateY(-20deg); 
                    text-shadow:-1px 1px 0px #303133,
                    -2px 2px 0px #303133;}
}

@media only screen and (min-width: 400px) {
    .reproductor {
        grid-template-columns: 100px auto 100px;
    }
}

@media only screen and (min-width: 768px) {
    .reproductor__volumen {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: center;
        grid-area: volumen;
        padding: 0px 5px;
        max-width: 120px;
    }

    .reproductor__volumen-estrellas {
        color: #FFFFFF ;
        perspective: 1000px;
        margin-bottom: 5px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        height: 20px;
    }

    .reproductor__volumen-estrellas i {
        margin: 0 1px;
        transform-style: preserve-3d;
        transform: translateZ(-100px) translateX(-10px) translateY(5px) rotateZ(-20deg) rotateY(-20deg);
        text-shadow:-1px 1px 0px #303133,
                -2px 2px 0px #303133;
        transition: all .7s ease;
    }

    .reproductor__volumen-sliderContainer {
        display: flex;
        align-items: center;
    }
    
    .reproductor__volumen-sliderContainer i {
        font-size: 22px;
        color: #FFFFFF ;
        width: 22px;
    }
    
    .reproductor__volumen-sliderContainer-sliderVolumen {
        flex: 1;
        height: 4px;
        background: #ff6d13 ;
        border-radius: 10px;
        margin: 0px 5px;
    }

    .reproductor {
        grid-template-columns: 60px 120px auto 100px;
        grid-template-areas: 
            "corazon volumen cancion controles"
            "corazon volumen reproduccion controles";
    }

    .reproductor__controles {
        align-items: center;
        height: auto;
    }
}
