.reproductor__volumen {
    display: none;
}

.reproductor {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #1D3557;
    display: grid;
    grid-template-columns: 50px auto 100px;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "corazon cancion controles"
        "corazon reproduccion controles";
    padding: 5px;
    min-height: 85px;
}

/* corazón */
.reproductor__corazon {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: corazon;
    color: #E63946;
}

.reproductor__corazon i {
    margin: auto;
    font-size: 30px;
}

/* controles */
.reproductor__controles {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: controles;
}

.reproductor__controles i {
    font-size: 40px;
    color: #A8DADC;
    margin: 0px 5px;
}

/* barra reproduccion */
.reproductor__reproduccion {
    grid-area: reproduccion;
    display: flex;
    align-items: center;
    margin: 0px 10px;
}

.reproductor__reproduccion-numero {
    font-size: 12px;
    color: #FFFFFF;
}

.reproductor__reproduccion-barra {
    flex: 1;
    margin: 0px 5px;
    height: 4px;
    background: #FFFFFF;
}

/* nombre cancion */
.reproductor__cancion {
    grid-area: cancion;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 8px 0px;
}

.cambiarTitulo {
    animation: cambiarTitulo 1s;
}

@keyframes cambiarTitulo {
    0% {opacity: 0%};
    100% {opacity: 100%};
}

.reproductor__cancion-titulo {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.reproductor__cancion-nombre {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
}

.bordeAmarillo {
    color: #FFD700;
}

.animacionSeleccion {
    animation: animacionSeleccion .8s;
}

@keyframes animacionSeleccion {
    0% {transform: scale(0.8);}
    50% {color: #e9c707; transform: scale(1.2)}
    100% {color: #FFD700; transform: scale(1) rotateY(360deg);}
}

@media only screen and (min-width: 400px) {
    .reproductor {
        grid-template-columns: 100px auto 100px;
    }
}

@media only screen and (min-width: 768px) {
    .reproductor__volumen {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-content: center;
        grid-area: volumen;
        padding: 0px 5px;
        max-width: 120px;
    }

    .reproductor__volumen-estrellas {
        font-size: 16px;
        color: #A8DADC;
        margin-bottom: 5px;
    }

    .reproductor__volumen-sliderContainer {
        display: flex;
        align-items: center;
    }
    
    .reproductor__volumen-sliderContainer i {
        font-size: 22px;
        color: #A8DADC;
        width: 22px;
    }
    
    .reproductor__volumen-sliderContainer-sliderVolumen {
        flex: 1;
        height: 4px;
        background: #83C727;
        border-radius: 10px;
        margin: 0px 5px;
    }

    .reproductor {
        grid-template-columns: 60px 120px auto 100px;
        grid-template-areas: 
            "corazon volumen cancion controles"
            "corazon volumen reproduccion controles";
    }

    .reproductor__controles {
        align-items: center;
        height: auto;
    }
}
