nav {
    background: #1D3557 ;
    width: 100%;
    padding: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav #usuario {
    display: none;
    color: #F1FAEE;
    font-size: 40px;
}

/* logo */
nav #logo {
    min-width: 50px;
    height: 50px;
    margin-right: 10px;
}

nav #logo img {
    height: 100%;
}

/* búsqueda */
nav #busqueda {
    display: flex;
    align-items: center;
    flex: 1;
    margin-right: 30px;
}

nav #busqueda input {
    margin-right: 5px;
    flex: 1;
    height: 40px;
}

nav #busqueda button {
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 25px;
    text-align: center;
}

/* notificacion */
nav #notificaciones {
    min-width: 25px;
    height: 25px;
    font-size: 25px;
    margin-right: 10px;
    color: #A8DADC;
}

/* hamburguesa */
nav #hamburguesa {
    min-width: 30px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    color: #A8DADC;
}

/* links */
nav #links {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 68px;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #1D3557;
    transition: all .5s;
    margin-right: 10px;
}

nav #links a {
    text-decoration: none;
    color: #F1FAEE;
    font-size: 16px;
    margin: 10px 0px;
}

/* efectos links */
.active {
    color: #A8DADC !important;
}

.underline::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #A8DADC;
    transition: width .3s;
}

.underline:hover::after {
    width: 100%;
    transition: width .3s;
}

.abrir {
    left: 0 !important;
}

@media only screen and (min-width: 900px) {
    nav #hamburguesa {
        display: none;
    }

    .links-perfil {
        display: none; 
    }

    nav #usuario {
        display: block;
    }

    nav #links {
        flex-direction: row;
        align-items: center;
        position: static;
        width: auto;
        height: auto;
        background: none;
        margin-right: 20px;
    }
    
    nav #links a {
        margin: 0px 7px;
    }

    nav #logo {
        margin-right: 20px;
    }

    nav #notificaciones {
        margin-right: 20px;
    }
}
