header {
    background: #000315;
}

nav {
    padding: 9px;
    background: #000315;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.header__contenido {
    padding: 10px;
    font-size: 28px;
    color: #FFFFFF;
    padding-top: 30px;
}

nav #usuario {
    display: none;
}

nav #usuario img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* logo */
nav #logo {
    min-width: 50px;
    height: 50px;
    margin-right: 10px;
}

nav #logo img {
    height: 100%;
}

/* búsqueda */
nav #busqueda {
    display: flex;
    align-items: center;
    flex: 1;
    margin-right: 30px;
}

nav #busqueda input {
    margin-right: 5px;
    flex: 1;
    height: 40px;
    color: #3c3c3c;
}

nav #busqueda button {
    background: none;
    width: 40px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
}

/* notificacion */
nav #notificaciones {
    min-width: 25px;
    height: 25px;
    font-size: 25px;
    margin-right: 10px;
    color: #FFFFFF ;
}

/* hamburguesa */
nav #hamburguesa {
    min-width: 30px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF ;
}

/* links */
nav #usuarioMobile {
    width: 40%;
    margin: 0 auto;
}

nav #usuarioMobile button{
    width: 100%;
    background: none;
    border: 1px solid #FFFFFF;
    padding: 3px;
    color: #FFFFFF;
}

nav #links {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 280px;
    background: #000315;
    visibility: hidden;
    transform: translate3d(280px, 0, 0);
    transition: opacity .2s,visibility 0ms linear .2s,transform .5s ease;
}

nav #links a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 20px;
    display: block;
}

/* efectos links */
.active {
    font-weight: bold;
    border-bottom: 2px solid #ff6d13;
}

.underline::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ff6d13;
    transition: width .3s;
}

.underline:hover::after {
    width: 100%;
    transition: width .3s;
}

.abrir {
    transform: translateZ(0) !important;
    opacity: 1;
    visibility: visible !important;
    transition: opacity .2s,visibility 0ms,transform .5s ease !important;
}

#divInvisible {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.clickeable {
    display: unset !important;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.32);
    transition: background-color .2s ease;
}

@media only screen and (min-width: 900px) {
    nav #usuarioMobile {
        display: none;
    }

    nav #hamburguesa {
        display: none;
    }

    nav #usuario {
        display: block;
    }

    nav #links {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: static;
        background: none;
        margin-right: 20px;
        visibility: visible;
        max-width: none;
        width: auto;
        transform: none !important;
    }

    nav #links a {
        margin: 0px 7px;
        padding: 0;
    }

    nav #logo {
        margin-right: 20px;
    }

    nav #notificaciones {
        margin-right: 20px;
    }
}
