.main-container {
    width: 100%;
}

.card-musica {
    /* margin: 20px 0px 20px 0px; */
    width: 100%;
    overflow: hidden;
    background: #457B9D;
}

.card-musica .title {
    background: #1D3557;
    padding: 1px 0px 1px 10px;
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #F1FAEE;
}

.card-musica .content {
    width: auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0;
    transition: all .4s ease-in;
}

.card-musica .content .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
}

.card-musica .content .item img {
    min-width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.card-musica .content .item p {
    text-align: center;
    line-height: 1;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #F1FAEE;
    margin: 0;
}

.contenedor-card {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

.contenedor-card .flecha {
    display: none;
}



@media only screen and (min-width: 768px) {
    .contenedor-card .flecha {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
    }

    .contenedor-card .flecha button {
        padding: 0;
        background: none;
        border: none;
        font-size: 40px;
        color: #1D3557;
    }

    .contenedor-card {
        margin: 20px 0px;
    }
    
    .contenedor-card .card-musica {
        width: auto;
    }
}