.main-container {
    width: 100%;
    margin-bottom: 100px; /* para que no lo tape el footer */
}

.contenedor-card__card {
    width: 100%;
    overflow: hidden;
    background: #457B9D;
}

.contenedor-card__card-title {
    background: #1D3557;
    padding: 1px 0px 1px 10px;
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #F1FAEE;
}

.contenedor-card__card-content {
    width: auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0;
    transition: all .4s ease-in;
    overflow-x: auto;
}

.contenedor-card__card-content-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    flex-shrink: 0;
    flex-basis: 100px;
}

.contenedor-card__card-content-item:hover div{
    color: #A8DADC;
}

.contenedor-card__card-content-item:hover img{
    width: 85px;
    height: 85px;
    margin-bottom: 5px;
}

.contenedor-card__card-content-item img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    transition: all .3s ease;
}

.contenedor-card__card-content-item div {
    text-align: center;
    line-height: 1;
    font-size: 15px;
    color: #F1FAEE;
    padding: 2px 0px;
    transition: all .3s ease;
}

.contenedor-card__card-content-item-title {
    font-weight: bold;
}

.contenedor-card {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

.contenedor-card__flecha {
    display: none;
}



@media only screen and (min-width: 768px) {
    .contenedor-card__flecha {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
    }

    .contenedor-card__flecha button {
        padding: 0;
        background: none;
        border: none;
        font-size: 40px;
        color: #1D3557;
    }

    .contenedor-card {
        margin: 20px 0px;
    }
    
    .contenedor-card__card {
        width: auto;
    }

    .contenedor-card__card-content {
        overflow: hidden;
    }
}