/* CONTENIDO HEADER */
.header__contenido {
    display: flex;
    flex-direction: column;
}

.header__contenido-saludo {
    display: flex;
}

.header__contenido-saludo-nombre {
    color: #FFFFFF;
    font-weight: bold;
    margin: 0 20px;
}

.header__contenido-publicidad {
    margin-top: 20px;
}

.header__contenido-publicidad-texto {
    color: #FFFFFF;
    font-size: 20px;
}

.header__contenido-publicidad button {
    margin-top: 10px;
    background: #ff6d13;
    padding: 7px 15px;
    border: none;
    font-size: 14px;
    color: #000315;
    width: 200px;
}

.contenedor-card__card {
    overflow: hidden;
    flex: 1;
}

.contenedor-card__card-title {
    font-style: normal;
    font-size: 20px;
    color: #000315;
    padding: 10px;
}

.contenedor-card__card-content {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
}

.contenedor-card__card-content-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    flex-shrink: 0;
    flex-basis: 150px;
    border-radius: 5px;
    background: #F6F6F6;
    box-shadow: 7px 8px 6px -6px #000f1f5c;
    padding: 10px;
    /* perspective: 700px; */
}

/* .contenedor-card__card-content-item img {
    transition: all .3s ease;
} */

.contenedor-card__card-content-item a {
    width: 100%;
    text-decoration: none;
}

.contenedor-card__card-content-item-play {
    font-size: 35px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #000315;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.contenedor-card__card-content-item-cancion div {
    text-align: center;
    line-height: 1;
    padding: 2px 0px;
    transition: all .3s ease;
}

.contenedor-card__card-content-item-cancion {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-card__card-content-item-title {
    font-weight: bold;
    font-size: 16px;
    color: #000315;
}

.contenedor-card__card-content-item-name {
    font-size: 14px;
    color: #3c3c3c;
}

.contenedor-card {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px 0px 40px 0px;
}

.contenedor-card__flecha {
    display: none;
}

.animarSeleccion {
    animation: animarSeleccion .5s;
}

.contededor-card__card-content-item-estrellas {
    margin-top: 10px;
}

@keyframes animarSeleccion {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
}

@media only screen and (min-width: 550px) {
    .header__contenido-publicidad {
        max-width: 550px;
        margin: auto;
    }

    .header__contenido {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 600px) {
    .header__contenido-publicidad {
        max-width: 550px;
        
    }
}

@media only screen and (min-width: 1000px) {
    .contenedor-card__card-content-item {
        position: relative;
        flex-basis: 200px;
        left: 0;
        transition: left .4s ease-in;
    }   

    .contenedor-card__flecha {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5%;
    }

    .contenedor-card__flecha button {
        padding: 0;
        background: none;
        border: none;
        font-size: 40px;
        color: #000315;
    }

    .contenedor-card__card-content {
        overflow: hidden;
        position: relative;
        left: 0;
    }

    .contenedor-card__card-content-item:hover .contenedor-card__card-content-item-play {
        display: block;
    }

    .contenedor-card__card-content-item-play:hover {
        color: #000315c9;
    }

    /* .contenedor-card__card-content-item:hover img{
        width: 125px;
        height: 125px;
        margin-bottom: 5px;
    } */

    .contenedor-card__card-content-item:hover 
    .contenedor-card__card-content-item-title,
    .contenedor-card__card-content-item-nombre {
        color: #000315c9;
    }

    .contenedor-card__card-content-item-cancion {
        align-items: start;
    }

    .contenedor-card__card-content-item-cancion {
        align-items: start;
    }

    .valorar {
        align-items: center !important;
    }

    .contenedor-card__card-content-item-cancion div {
        text-align: start;
    }
}

.bordeReproduccion {
    border-radius: 15%;
}