body {
    background: #000315;
    padding: 0;
}

.logo {
    text-align: center;
    padding: 10px;
}

.logo img {
    height: 13em;
}

.card {
    background: #FFFFFF;
    max-width: 400px;
    margin: 20px 10px;
    padding: 15px;
}

label {
    color: #000315;
    display: block;
    margin-bottom: 5px;
}

input{
    height: 40px;
    margin-bottom: 20px;
    width: 100%;
}

#btnLogin {
    background: #ff6d13 ;
    padding: 7px 15px;
    width: 100%;
    font-size: 24px;
    line-height: 28px;
    color: #000315;
}

#recuperarContraseña {
    color: #000315;
    line-height: 24px;
    text-decoration-line: underline;
    margin-top: 20px;
}

.crear-cuenta {
    text-align: center;
    margin-top: 30px;
}

.crear-cuenta button {
    width: 169px;
    height: 44px;
    border: 1px solid #FFFFFF ;
    background: none;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin: auto;
}

@media only screen and (min-width: 420px) {
    .card {
        margin: 20px auto;
    }
}