body {
    background: #3A7FFF;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#imgLogin {
    height: 220px;
    width: 200px;
}

.jumbotron {
    height: 290px;
}

#btnLogin {
    background: #16C153 ;
    padding: 7px 15px;
    border-radius: 5px;
    border: none;

    
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

#recuperarContraseña {
    color: #3A7FFF;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
}

#crearCuenta {
    width: 169px;
    height: 44px;
    border: 1px solid #FFFFFF ;
    border-radius: 5px;
    background: none;


    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}