/* PLAYLIST */
.playlist {
    background: linear-gradient(to bottom, #3A7FFF, #1c3f7f);
    width: 100%;
    color: #FFFFFF;
    padding: 10px;
}

.playlist__titulo {
    text-transform: uppercase;
}

.playlist__nombre {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}

.playlist__reproducir {
    /* width: 100%; */
    margin-top: 30px;
    text-align: center;
}

.playlist__reproducir button {
    width: 300px;
    padding: 9px;
    color: #FFFFFF;
    font-size: 20px;
    background: #16C153;
}

.playlist__autor {
    margin-top: 30px;
}

.playlist__valoraciones {
    margin-top: 10px;
    display: flex;
}

.playlist__valoraciones-texto {
    margin-right: 15px;
}

.playlist__valoraciones-estrella {
    margin-right: 5px;
    color: #FFD700;
}

.playlist__lista {
    overflow-y: scroll;
    max-height: 400px;
    width: 90%;
    margin: auto;
}

.playlist__lista-item {
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.playlist__lista-item img {
    width: 50px;
    margin-right: 10px;
}

.playlist__lista-item-cancion {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.playlist__lista-item-cancion-artista {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #3c3c3c;
}

.playlist__lista-item-play {
    display: none;
}

.playlist__lista-item-opciones {
    font-size: 25px;
    color: #3c3c3c;
}

@media only screen and (min-width: 1000px) {
    .playlist__lista-item-play {
        display: block;
        font-size: 40px;
        color: #1c3f7f;
        margin: 0px 30px;
    }
}