/* PORTADA */
.portada {
    background: url('../img/artistas/portada-queen.jpeg') top center;
    background-size: cover;
    height: calc(100vh - 153px);
    display: flex;
    align-items: end;
}

.portada__datos {
    background: #00000073;
    width: 100%;
}


.portada__datos button{
    background:none;
}

.portada__datos-cancion {
    flex: 1;
    text-align: center;
}

.portada__datos-cancion a {
    color: #FFFFFF;
    text-decoration: none;
}

.portada__datos-cancion-artista {
    font-size: 26px;
    font-weight: bold;
}

.portada__datos-cancion-nombre {
    text-align: center;
}

.portada__datos-acciones {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 10px;
}

.portada__datos-play {
    display: inline-block;
    background: none;
    margin: auto;
}

.portada__datos-play button {
    font-size: 50px;
    color: #FFFFFF;
}

.portada__datos-favoritos {
    display: inline-block;
    position: absolute;
    left: 5px;
}
.portada__datos-favoritos button {
    color: #16C153;
    font-size: 30px;
}

.portada__datos-playlists {
    display: inline-block;
    font-size: 20px;
    position: absolute;
    right: 5px;
}

.portada__datos-playlists button {
    display: flex;
    color: #FFFFFF;
}

.portada__datos-playlists button i{
    margin-right: 5px;
}

.portada__datos-valoracion {
    display: flex;
    margin: 10px 0px 5px 5px;
}

.portada__datos-valoracion i {
    color: #FFD700;
}

.portada__datos-valoracion div {
    margin: 0px 5px;
}

@media only screen and (min-width: 500px) {
    .portada__datos-playlists {
        left: 50px;
    }
}

