/* VALORACIONES */
.valoraciones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valoraciones__opinar {
    width: 100%;
}

.valoraciones__estrellas {
    font-size: 35px;
    margin-bottom: 10px;
    color: #1c3f7f;
    transform-style: preserve-3d;
    text-align: center;
}

.valoraciones__opinar-titulo {
    color: #1c3f7f;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.valoraciones__opinar textarea {
    width: 100%;
    height: 150px;
    margin: 10px 0px;
    border: 1px solid #1c3f7f;
    resize: none;
}

.valoraciones__opinar button {
    background: #16C153 ;
    height: 50px;
    width: 100%;
    color: #FFFFFF;
    font-size: 20px;
}

/* OPINIONES */
.opiniones__titulo {
    color: #1c3f7f;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.opiniones__contenido-item {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #1c3f7f;
    margin: 10px 0px;
}

.opiniones__contenido-item-titulo {
    color: #1c3f7f;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.opiniones__contenido-item-mensaje {
    color: #3c3c3c;
    margin-bottom: 10px;
}

.opiniones__contenido-item-valoracion {
    display: flex;
    align-items: end;
    width: 50px;
    margin-left: auto;
}

.opiniones__contenido-item-valoracion i {
    color: #FFD700;
    margin-right: 5px;
    font-size: 25px;
}

.opiniones__contenido-item-valoracion div {
    color: #2b546e;
    font-size: 16px;
}

.card-container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 700px) {
    .card-container {
        flex-direction: row-reverse;
    }

    .card-container .card:first-child {
        min-width: 280px;
        align-self: start;
    }

    .opiniones {
        max-width: 700px;
    }
}   