<div class="contenedor-card">
    <div class="flechas">
        <button class="izquierda"><i class="fa fa-angle-left"></i></button>
    </div>

    <section class="card-musica">
        <div class="title">AÚN SIN VALORAR</div>
        <div class="content">
            <div class="item">
                <img src="img/artistas/logo-iron.png" alt="">
                <p>Iron maiden</p>
            </div>
            <div class="item">
                <img src="img/artistas/logo-wintersun.png" alt="">
                <p>Wintersun</p>
            </div>
            <div class="item">
                <img src="img/artistas/logo-buckethead.png" alt="">
                <p>Buckethead</p>
            </div>
            <div class="item">
                <img src="img/artistas/logo-iron.png" alt="">
                <p>Iron maiden</p>
            </div>
            <div class="item">
                <img src="img/artistas/logo-wintersun.png" alt="">
                <p>Wintersun</p>
            </div>
            <div class="item">
                <img src="img/artistas/logo-buckethead.png" alt="">
                <p>Buckethead</p>
            </div>
            <div class="item">
                <img src="img/artistas/logo-iron.png" alt="">
                <p>Iron maiden</p>
            </div>
            <div class="item">
                <img src="img/artistas/logo-wintersun.png" alt="">
                <p>Wintersun</p>
            </div>
            <div class="item">
                <img src="img/artistas/logo-buckethead.png" alt="">
                <p>Buckethead</p>
            </div>
            <div class="item">
                <img src="img/artistas/logo-iron.png" alt="">
                <p>Iron maiden</p>
            </div>
            <div class="item">
                <img src="img/artistas/logo-wintersun.png" alt="">
                <p>Wintersun</p>
            </div>
            <div class="item">
                <img src="img/artistas/logo-buckethead.png" alt="">
                <p>Buckethead</p>
            </div>
            <div class="item">
                <img src="img/artistas/logo-iron.png" alt="">
                <p>Iron maiden</p>
            </div>
            <div class="item">
                <img src="img/artistas/logo-wintersun.png" alt="">
                <p>Wintersun</p>
            </div>
            <div class="item">
                <img src="img/artistas/logo-buckethead.png" alt="">
                <p>Buckethead</p>
            </div>
        </div>
    </section>
    
    <div class="flechas">
        <button class="derecha"><i class="fa fa-angle-right"></i></button>
    </div>
</div>