<nav>
    <div id="logo">
        <a href="homepage.html"><img src="img/logo.png" alt=""></a>
    </div>

    <div id="busqueda">
        <input type="text" size="7" placeholder="Buscar" aria-label="Buscar">
        <button id="btnBuscar"><i class="fa fa-search"></i></button>
    </div>

    <div id="links">
        <a href="homepage.html" class="underline">Inicio</a>
        <a href="#" class="underline links-perfil">Perfil</a>
        <a href="#" class="underline">Mis favoritos</a>
        <a href="#" class="underline">Mis playlists</a>
        <a href="#" class="underline">Soporte</a>
    </div>

    <div id="notificaciones">
        <i class="fa fa-bell"></i>
    </div>

    <div id="usuario">
        <img class="imageLogo" src="img/profile_photo.png" alt="">
    </div>

    <div id="hamburguesa">
        <i class="fa fa-bars"></i>
    </div>

    <div id="divInvisible"></div>
</nav>