<div class="footer">
    <img src="img/logo_login.png" alt="">
    <div class="footer__redes">
        <div class="footer__redes-titulo">SEGUINOS</div>
        <div class="footer__redes-iconos">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <div class="footer__redes-derechos"> © Spofiy 2020</div>
    </div>
</div>

<div class="reproductor">
    <div class="reproductor__corazon">
        <i class="fa fa-heart"></i>
    </div>

    <div class="reproductor__volumen">
        <div class="reproductor__volumen-estrellas">
            <i data-valoracion="1" seleccionada="false" class="far fa-star"></i>
            <i data-valoracion="2" seleccionada="false" class="far fa-star"></i>
            <i data-valoracion="3" seleccionada="false" class="far fa-star"></i>
            <i data-valoracion="4" seleccionada="false" class="far fa-star"></i>
            <i data-valoracion="5" seleccionada="false" class="far fa-star"></i>
        </div>

        <div class="reproductor__volumen-sliderContainer">
            <i class="fa fa-volume-up"></i>

            <div class="reproductor__volumen-sliderContainer-sliderVolumen"></div>
        </div>
    </div>

    <div class="reproductor__controles">
        <i class="fa fa-angle-left"></i>
        <i class="fa fa-play-circle"></i>
        <i class="fa fa-angle-right"></i>
    </div>

    <div class="reproductor__reproduccion">
        <div class="reproductor__reproduccion-numero">00:00</div>
        <div class="reproductor__reproduccion-barra"></div>
        <div class="reproductor__reproduccion-numero">14:20</div>
    </div>

    <div class="reproductor__cancion">
        <a href="cancion.html">
            <div class="reproductor__cancion-titulo">Buckethead</div>
            <div class="reproductor__cancion-nombre">Celery</div>
        </a>
    </div>
</div>