<div id="reproductor">
    <div class="corazon">
        <i class="fa fa-heart"></i>
    </div>

    <div class="volumen">
        <div class="estrellas">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>

        <div class="sliderContainer">
            <i class="fa fa-volume-up"></i>

            <div class="sliderVolumen"></div>
        </div>
    </div>

    <div class="reproduccion">
        <div class="controles">
            <i class="fa fa-angle-left"></i>
            <i class="fa fa-play-circle"></i>
            <i class="fa fa-angle-right"></i>
        </div>

        <div class="barraReproduccion">
            <p>13:10</p>
            <div class="barra"></div>
            <p>14:20</p>
        </div>
    </div>

    <div class="cancion">
        <div class="titulo">Buckethead</div>
        <div class="nombre">Norther lights</div>
    </div>

    <div class="reproduccionMobile">
        <div class="cancion">
            <div class="titulo">Buckethead</div>
            <div class="nombre">Norther lights</div>
        </div>

        <div class="barraReproduccion">
            <p>13:10</p>
            <div class="barra"></div>
            <p>14:20</p>
        </div>
    </div>

    <div class="controlesMobile">
        <i class="fa fa-angle-left"></i>
        <i class="fa fa-play-circle"></i>
        <i class="fa fa-angle-right"></i>
    </div>
</div>