<div class="reproductor">
    <div class="reproductor__corazon">
        <i class="fa fa-heart"></i>
    </div>

    <div class="reproductor__volumen">
        <div class="reproductor__volumen-estrellas">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>

        <div class="reproductor__volumen-sliderContainer">
            <i class="fa fa-volume-up"></i>

            <div class="reproductor__volumen-sliderContainer-sliderVolumen"></div>
        </div>
    </div>

    <div class="reproductor__controles">
        <i class="fa fa-angle-left"></i>
        <i class="fa fa-play-circle"></i>
        <i class="fa fa-angle-right"></i>
    </div>

    <div class="reproductor__reproduccion">
        <div class="reproductor__reproduccion-numero">00:00</div>
        <div class="reproductor__reproduccion-barra"></div>
        <div class="reproductor__reproduccion-numero">14:20</div>
    </div>

    <div class="reproductor__cancion">
        <div class="reproductor__cancion-titulo">Buckethead</div>
        <div class="reproductor__cancion-nombre">Celery</div>
    </div>
</div>