<article class="seccionBusqueda">
    <div class="seccionBusqueda__titulo"></div>

    <div class="seccionBusqueda__contenido">
        <div class="seccionBusqueda__contenido-item">
            <i class="fa fa-music seccionBusqueda__contenido-item-logo"></i>
            <div class="seccionBusqueda__contenido-item-nombre">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Prueba de titulo</div>
                <div class="seccionBusqueda__contenido-item-nombre-cancion">Prueba de nombre largo</div>
            </div>
            <div class="seccionBusqueda__contenido-item-playOpciones">
                <i class="fa fa-play-circle seccionBusqueda__contenido-item-playOpciones-play"></i>
                <i class="fa fa-ellipsis-v seccionBusqueda__contenido-item-playOpciones-opciones"></i>
            </div>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <i class="fa fa-music seccionBusqueda__contenido-item-logo"></i>
            <div class="seccionBusqueda__contenido-item-nombre">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Prueba de titulo</div>
                <div class="seccionBusqueda__contenido-item-nombre-cancion">Prueba de nombre largo</div>
            </div>
            <div class="seccionBusqueda__contenido-item-playOpciones">
                <i class="fa fa-play-circle seccionBusqueda__contenido-item-playOpciones-play"></i>
                <i class="fa fa-ellipsis-v seccionBusqueda__contenido-item-playOpciones-opciones"></i>
            </div>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <i class="fa fa-music seccionBusqueda__contenido-item-logo"></i>
            <div class="seccionBusqueda__contenido-item-nombre">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Prueba de titulo</div>
                <div class="seccionBusqueda__contenido-item-nombre-cancion">Prueba de nombre largo</div>
            </div>
            <div class="seccionBusqueda__contenido-item-playOpciones">
                <i class="fa fa-play-circle seccionBusqueda__contenido-item-playOpciones-play"></i>
                <i class="fa fa-ellipsis-v seccionBusqueda__contenido-item-playOpciones-opciones"></i>
            </div>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <i class="fa fa-music seccionBusqueda__contenido-item-logo"></i>
            <div class="seccionBusqueda__contenido-item-nombre">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Prueba de titulo</div>
                <div class="seccionBusqueda__contenido-item-nombre-cancion">Prueba de nombre largo</div>
            </div>
            <div class="seccionBusqueda__contenido-item-playOpciones">
                <i class="fa fa-play-circle seccionBusqueda__contenido-item-playOpciones-play"></i>
                <i class="fa fa-ellipsis-v seccionBusqueda__contenido-item-playOpciones-opciones"></i>
            </div>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <i class="fa fa-music seccionBusqueda__contenido-item-logo"></i>
            <div class="seccionBusqueda__contenido-item-nombre">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Prueba de titulo</div>
                <div class="seccionBusqueda__contenido-item-nombre-cancion">Prueba de nombre largo</div>
            </div>
            <div class="seccionBusqueda__contenido-item-playOpciones">
                <i class="fa fa-play-circle seccionBusqueda__contenido-item-playOpciones-play"></i>
                <i class="fa fa-ellipsis-v seccionBusqueda__contenido-item-playOpciones-opciones"></i>
            </div>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <i class="fa fa-music seccionBusqueda__contenido-item-logo"></i>
            <div class="seccionBusqueda__contenido-item-nombre">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Prueba de titulo</div>
                <div class="seccionBusqueda__contenido-item-nombre-cancion">Prueba de nombre largo</div>
            </div>
            <div class="seccionBusqueda__contenido-item-playOpciones">
                <i class="fa fa-play-circle seccionBusqueda__contenido-item-playOpciones-play"></i>
                <i class="fa fa-ellipsis-v seccionBusqueda__contenido-item-playOpciones-opciones"></i>
            </div>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <i class="fa fa-music seccionBusqueda__contenido-item-logo"></i>
            <div class="seccionBusqueda__contenido-item-nombre">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Prueba de titulo</div>
                <div class="seccionBusqueda__contenido-item-nombre-cancion">Prueba de nombre largo</div>
            </div>
            <div class="seccionBusqueda__contenido-item-playOpciones">
                <i class="fa fa-play-circle seccionBusqueda__contenido-item-playOpciones-play"></i>
                <i class="fa fa-ellipsis-v seccionBusqueda__contenido-item-playOpciones-opciones"></i>
            </div>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <i class="fa fa-music seccionBusqueda__contenido-item-logo"></i>
            <div class="seccionBusqueda__contenido-item-nombre">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Prueba de titulo</div>
                <div class="seccionBusqueda__contenido-item-nombre-cancion">Prueba de nombre largo</div>
            </div>
            <div class="seccionBusqueda__contenido-item-playOpciones">
                <i class="fa fa-play-circle seccionBusqueda__contenido-item-playOpciones-play"></i>
                <i class="fa fa-ellipsis-v seccionBusqueda__contenido-item-playOpciones-opciones"></i>
            </div>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <i class="fa fa-music seccionBusqueda__contenido-item-logo"></i>
            <div class="seccionBusqueda__contenido-item-nombre">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Prueba de titulo</div>
                <div class="seccionBusqueda__contenido-item-nombre-cancion">Prueba de nombre largo</div>
            </div>
            <div class="seccionBusqueda__contenido-item-playOpciones">
                <i class="fa fa-play-circle seccionBusqueda__contenido-item-playOpciones-play"></i>
                <i class="fa fa-ellipsis-v seccionBusqueda__contenido-item-playOpciones-opciones"></i>
            </div>
        </div>
        <div class="seccionBusqueda__contenido-item">
            <i class="fa fa-music seccionBusqueda__contenido-item-logo"></i>
            <div class="seccionBusqueda__contenido-item-nombre">
                <div class="seccionBusqueda__contenido-item-nombre-artista">Prueba de titulo</div>
                <div class="seccionBusqueda__contenido-item-nombre-cancion">Prueba de nombre largo</div>
            </div>
            <div class="seccionBusqueda__contenido-item-playOpciones">
                <i class="fa fa-play-circle seccionBusqueda__contenido-item-playOpciones-play"></i>
                <i class="fa fa-ellipsis-v seccionBusqueda__contenido-item-playOpciones-opciones"></i>
            </div>
        </div>
    </div>
</article>