* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenedor {
    background: grey;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    border: 10px solid black;
    border-radius: 50%;
    background: url(../img/ios_clock.svg) no-repeat center;
    background-size: 88%;
    height: 500px;
    position: relative;
    width: 500px;
} 
  
.clock.simple:after {
    background: #000;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    z-index: 10;
}

.minutes-container, .hours-container, .seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.center {
    background: #000;
    height: 10%;
    left: 44.75%;
    position: absolute;
    top: 45%;
    border-radius: 50%;
    transform-origin: 50% 100%;
    width: 10%;
    z-index: 10;
}

.hours {
    background: #000;
    height: 20%;
    left: 48.75%;
    position: absolute;
    top: 32%;
    transform-origin: 50% 100%;
    width: 2.5%;
    animation: drawHand 43200s infinite steps(60);
}

.minutes {
    background: #000;
    height: 31%;
    left: 50%;
    position: absolute;
    top: 20%;
    transform-origin: 50% 100%;
    width: 2%;
}

.seconds {
    background: #FF0000;
    height: 40%;
    left: 49.5%;
    position: absolute;
    top: 18%;
    transform-origin: 50% 80%;
    width: 1%;
    z-index: 8;
}

  