* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#background {
    background: url('../resources/sky_parallax.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#mountains {
    background: url('../resources/mountain_parallax.png') repeat-x;
    background-size: cover;
    width: 100%;
    height: 100%;
    animation: bg-parallax 60s linear infinite;
}

#clouds {
    background: url('../resources/cloud_parallax.png') repeat-x;
    background-size: contain;
    width: 100%;
    height: 100%;
    animation: bg-parallax 30s linear infinite;
}

#desert {
    background: url('../resources/desert_parallax.png') repeat-x;
    background-size: contain;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    animation: bg-parallax 10s linear infinite;
}

@keyframes bg-parallax {
    0% {background-position: 100vw;}
    100% {background-position: 0;}
}

.hide {
    display: none;
}

#obstacle1 {
    background: url('../resources/obstacle/column_1.png') no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 1500px;
    transform: rotate(180deg);
    width: 5%;
    height: 50%;
}

#obstacle2 {
    background: url('../resources/obstacle/column_1.png') no-repeat;
    background-size: cover;
    position: absolute;
    top: 480.5px;
    left: 1500px;
    width: 5%;
    height: 20%;
}

#obstacle3 {
    background: url('../resources/obstacle/column_1.png') no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 1900px;
    transform: rotate(180deg);
    width: 5%;
    height: 20%;
}

#obstacle4 {
    background: url('../resources/obstacle/column_1.png') no-repeat;
    background-size: cover;
    position: absolute;
    top: 300.5px;
    left: 1900px;
    width: 5%;
    height: 50%;
}

#obstacle5 {
    background: url('../resources/obstacle/column_1.png') no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 2300px;
    transform: rotate(180deg);
    width: 5%;
    height: 35%;
}

#obstacle6 {
    background: url('../resources/obstacle/column_1.png') no-repeat;
    background-size: cover;
    position: absolute;
    top: 390.5px;
    left: 2300px;
    width: 5%;
    height: 35%;
}

#playGame {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e9e922;
    height: 10vh;
    width: 15vw;
    margin-bottom: 1vw;
    border-radius: 10px;
    border: 1px solid #b1b113;
    box-shadow: 0px 6px 0px #b1b113;
    z-index: 1;
}

#playGame p{
    font-size: 1.5em;
    font-family: 'Press Start 2P', cursive;
}

#rules {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    font-size: .9em;
    font-family: 'Press Start 2P', cursive;
    background: #e9e922;
    width: 30vw;
    border-radius: 10px;
    border: 1px solid #b1b113;
    box-shadow: 0px 6px 0px #b1b113;
    z-index: 1;
}

#rules p {
    margin: 0.3em;
}

#playGame:hover {
    background: #e9e933;
}

#player-container {
    height: 105px;
    width: 168px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#plane {
    width: 100%;
    height: 100%;
    margin: auto;
}

.fly {
    animation: fly .8s steps(8) infinite;
    background: url('../resources/plane/fly.png') left center;
}

.dead {
    animation: dead .8s steps(8) infinite;
    background: url('../resources/plane/dead_completo.png') left center;
}

@keyframes fly {
    0% {background-position: 0px;}
    100% {background-position: -1344px;}   
}

@keyframes dead {
    0% {background-position: 0px;}
    100% {background-position: -1408px;}   
}

