* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#background {
    background: url('../resources/sky_parallax_600.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#mountains {
    background: url('../resources/mountain_parallax_600.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    animation: bg-parallax 30s linear infinite;
}

#clouds {
    background: url('../resources/cloud_parallax_600.png');
    background-size: contain;
    width: 100%;
    height: 100%;
    animation: bg-parallax 10s linear infinite;
}

/* #diamante {
    animation: girar 2s linear infinite;
}

@keyframes girar {
    100% {transform: rotateY(360deg)}
} */

#desert {
    background: url('../resources/desert_parallax_600.png');
    background-size: contain;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    animation: bg-parallax 5s linear infinite;
}

@keyframes bg-parallax {
    0% {background-position: 100vw;}
    100% {background-position: 0;}
}

.hide {
    display: none;
}

#obstacle1 {
    background: url('../resources/obstacle/column_1.png') no-repeat;
    background-size: cover;
    position: absolute;
    /* top: 0vh;
    left: 108vw; */
    transform: rotate(180deg);
    /* width: 8vw;
    height: 50vh; */
}

#obstacle2 {
    background: url('../resources/obstacle/column_1.png') no-repeat;
    background-size: cover;
    position: absolute;
    /* top: 80vh;
    left: 108vw;
    width: 8vw;
    height: 20vh; */
}

#obstacle3 {
    background: url('../resources/obstacle/column_1.png') no-repeat;
    background-size: cover;
    position: absolute;
    /* top: 0vh;
    left: 148vw; */
    transform: rotate(180deg);
    /* width: 8vw;
    height: 20vh; */
}

#obstacle4 {
    background: url('../resources/obstacle/column_1.png') no-repeat;
    background-size: cover;
    position: absolute;
    /* top: 50vh;
    left: 148vw;
    width: 8vw;
    height: 50vh; */
}

#obstacle5 {
    background: url('../resources/obstacle/column_1.png') no-repeat;
    background-size: cover;
    position: absolute;
    /* top: 0vh;
    left: 188vw; */
    transform: rotate(180deg);
    /* width: 8vw;
    height: 35vh; */
}

#obstacle6 {
    background: url('../resources/obstacle/column_1.png') no-repeat;
    background-size: cover;
    position: absolute;
    /* top: 65vh;
    left: 188vw;
    width: 8vw;
    height: 35vh; */
}

#playGame {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e9e922;
    height: 10vh;
    width: 15vw;
    margin-bottom: 1vw;
    border-radius: 10px;
    border: 1px solid #b1b113;
    box-shadow: 0px 6px 0px #b1b113;
    z-index: 1;
}

#playGame p{
    font-size: 1.5em;
    font-family: 'Press Start 2P', cursive;
}

#rules {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column wrap;
    font-size: .9em;
    font-family: 'Press Start 2P', cursive;
    background: #e9e922;
    width: 30vw;
    border-radius: 10px;
    border: 1px solid #b1b113;
    box-shadow: 0px 6px 0px #b1b113;
    z-index: 1;
}

#rules p {
    margin: 0.3em;
}

#playGame:hover {
    background: #e9e933;
}


#player-container {
    height: 105px;
    width: 168px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#plane {
    width: 100%;
    height: 100%;
    margin: auto;
}

.fly {
    animation: fly .8s steps(8) infinite;
    background: url('../resources/plane/fly.png') left center;
}

.dead {
    animation: dead .8s steps(8) infinite;
    background: url('../resources/plane/dead_completo.png') left center;
}

.up {
    background: url('../resources/plane/up.png');
    animation: up 160ms steps(10) infinite;
}

@keyframes up {
    0% {background-position: 0px;}
    100% {background-position: -1680px;}   
}

@keyframes fly {
    0% {background-position: 0px;}
    100% {background-position: -1344px;}   
}

@keyframes dead {
    0% {background-position: 0px;}
    100% {background-position: -1408px;}   
}

